<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
    <mapper namespace="cn.bdqn.tangcco.student.mapper.StudentMapper">
        <insert id="addStudent" parameterType="Student">
            insert into student VALUES (null,#{gradeid},#{stuname},#{stunum},#{age},#{gender})
        </insert>
        <update id="updateStudent" parameterType="Student">
            update student set stuname=#{stuname},stunum=#{stunum},gender=#{gender},age=#{age},gradeid=#{gradeid} where stuid=#{stuid}
        </update>
        <delete id="deleteStudent" parameterType="Student">
            DELETE  student WHERE stuid=#{stuid}
        </delete>
        <select id="queryStudentById" parameterType="int" resultType="Student">
            select * from student where stuid=#{id}
        </select>
        <resultMap id="student" type="Student">
            <id column="stuid" property="stuid"></id>
            <result property="stuname" column="stuname"></result>
            <result property="stunum" column="stunum"></result>
            <result property="age" column="age"></result>
            <result property="gender" column="gender"></result>
            <result property="gradeid" column="gradeid"></result>
            <association property="grade" javaType="Grade">
                <result property="gradename" column="gradename"></result>
            </association>
        </resultMap>
        <select id="queryAllStudent" resultMap="student" >
            select g.gradename,s.* from student s,grade g where s.gradeid=g.gradeid

            <if test="student.gradeid!=0">
                AND s.gradeid=#{student.gradeid}
            </if>
            <if test="student.stuname!=null">
                AND s.stuname=#{student.stuname}
            </if>

            order by s.stuid DESC LIMIT #{page.pageNumber},#{page.pageSize}
        </select>

        <select id="queryCountStudent" parameterType="Student" resultType="int">
          SELECT  count(*) from student WHERE  1=1

            <if test="gradeid!=0">
              AND gradeid=#{gradeid}
            </if>
            <if test="stuname != null ">
                AND stuname like  CONCAT(CONCAT('%',#{stuname},'%'))
            </if>
        </select>
    </mapper>
